
# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
/env/*
!/env/.env.example
.env

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem


# Ide
.idea